doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | CK Garage
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://unpkg.com/lucide@latest")
  body(class="bg-background text-foreground")
    include header
    include main
    include footer
    script(src="/js/main.js")